.header-colorin {
  color: white;
  background-color: #4C8076;
  padding: 2rem; }

.header-colorin-bigger {
  /*note: assumed to be jumbotron*/
  margin-top: 1rem;
  color: white;
  background-color: #4C8076;
  height: 20rem; }
  .header-colorin-bigger h1 {
    font-size: 4rem; }

.menu-colorin {
  background-color: #00C9A9; }

.links {
  color: #472480; }

.container a {
  color: #472480; }

#footer {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 1rem; }
  #footer a {
    color: #472480; }
  #footer #row {
    margin: auto; }

#hero-banner {
  height: 50rem;
  background: linear-gradient(to bottom right, #C4FCF0, #472480); }
  #hero-banner h1 {
    font-size: 5rem;
    color: white; }

.circle-select i {
  font-size: 5rem;
  padding: 3rem;
  background-color: #C4FCF0;
  border: 5px solid black;
  border-radius: 50%; }
  .circle-select i:hover {
    background-color: #649CEE; }

.hit-decorate {
  border: 1px solid #4C8076;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem; }
