$tertiary-color: #472480;
$menu-color: #00C9A9;
$secondary-color: #C4FCF0;
$header-color:#4C8076;

.header-colorin{
	color:white;
	background-color:$header-color;	
	padding:2rem;
}
.header-colorin-bigger{ /*note: assumed to be jumbotron*/
	margin-top:1rem;
	color:white;
	background-color:$header-color;
	height: 20rem;
}
.menu-colorin{
	background-color:$menu-color;	
}
.links{
	color:$tertiary-color;	
}
.container a{
	color:$tertiary-color;	
}

#footer{
	margin-top:1rem;
	margin-bottom:0; 
	padding-bottom:1rem;
	a{
		color:$tertiary-color;	
	}
	#row{
		margin:auto;	
	}
}


@import 'home';
@import 'jewelry_root'

