{% comment %}
MOVE HEADER TO GENERIC TEMPLATE
MOVE METAL-SPECIFIC WIDGETS TO GENERALIZED JEWELRY DEISGN
{% endcomment %}

<head>
	<title>test</title>

	<!-- algolia cdns -->

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch.min.css">
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch-theme-algolia.min.css">
</head>

<body>

	<div id="search-box">
		<!-- SearchBox widget will appear here -->
	</div>

	<div id = "refinement-list">
		<!-- refinement list widget will appear here-->
	</div>

	<div id="hits">
	  <!-- Hits widget will appear here -->
	</div>

	{% if jewelry_items %}
		<ul>
			{% for jewelry in jewelry_items %}
				<li>{{jewelry}}</li>
				<ul>
					<li>Jewelry Type: {{jewelry.jewelry_type}}</li>
					<li>Size: {{jewelry.size}} mm.</li>
					<li>Metal: {{jewelry.metal}}</li>
					<li>Price: ${{jewelry.price}}</li>
				</ul>
			{% endfor %}
		</ul>
	{% endif %}
</body>

<script>
	//indexName will need to be abstracted to the desired model in Jewelry once this template is generalized
	//initializes search engine in JavaScript
	const search = instantsearch({
		appId: 'SCHJVEFMZ6',
		apiKey: '5eb2a2d465e0a2d9be23ead26762c22d',
		indexName: 'Metal', 
		facets:['metal'],//check they're registered in index.py 
		urlSync: true
	});

	//initializes search box itself
	search.addWidget(
		instantsearch.widgets.searchBox({
			container:'#search-box',
			placeholder:'Search for Results'	
		})
	);

	//PROBLEM: widget doesn't actuallyregister metals
	// initialize RefinementList
	search.addWidget(
		instantsearch.widgets.refinementList({
			container: '#refinement-list',
			operator:'or',
			attributeName: 'metal',
			templates:{
				header:'Types of Metals',	
			}
		})
	);

	//sets up widget to display search results
	search.addWidget(
		instantsearch.widgets.hits({
			container:'#hits',
			templates:{
				empty:'no results',
				//PROBLEM: size and price are not searchable
				{% verbatim %}
				item:'<em>Hit {{objectID}}</em>: {{{_highlightResult.metal.value}}} {{{_highlightResult.jewelry_type.value}}}, {{size}} mm.'
				{% endverbatim %}
			}	
		})
	);


	search.start();
</script>
