{% extends 'newtown/home.html' %}
{% block titlehead %}Jewelry Selection{% endblock %}
{% block body_nocontainer %}
<div class = "container">
	<div class = "jumbotron header-colorin-bigger">
		<h1>Jewelry Selection</h1>
	</div>
	<h1>Please select an option.</h1>
	<div class = "row circle-select">
		<div class = "col-md-6 text-center">
			<a href = "{% url 'jewelry:metals' %}">
			<i class="fas fa-gem"></i>	
			<h2>Earrings, Nose Hooks, Bracelets</h2>
			</a>
		</div>
		<div class = "col-md-6 text-center">
			<a href = "{% url 'jewelry:contactLense' %}">
			<i class="fas fa-eye"></i>
			<h2>Contact Lenses</h2>
			</a>
		</div>
	</div>
</div>
{% endblock %}
{% comment %}append to here each additional jewelry type. link back home to be implemented with larger template system{% endcomment %}
