{% comment %}
MOVE HEADER TO GENERIC TEMPLATE
MOVE METAL-SPECIFIC WIDGETS TO GENERALIZED JEWELRY DEISGN
{% endcomment %}

{% load static %}

<head>
	<title>test</title>

	<!-- algolia cdns -->

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch.min.css">
	<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4"></script>

	<!-- basic instantsearch styling, probably might be overridden with Bootstrap + custom -->

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.7.4/dist/instantsearch-theme-algolia.min.css">
</head>

<body>
	<a href="{% url 'jewelry:index' %}">Back to Jewelry</a>

	{%comment %}generates the required divs for algolia to function {% endcomment %}
	{% for field_name,values in attributes.items %}
		<div id = '{{field_name}}'></div>
	{% endfor %}

	<div id="search-box">
		<!-- SearchBox widget will appear here -->
	</div>

	<div id="hits">
	  <!-- Hits widget will appear here -->
	</div>
</body>


<script id = "hit-template">
{% comment %}a template for all the hits. TODO: convert this into generic form when template is generalized {% endcomment %}
	<div class = "hit">
		<div class = "hit-image">
			<img src = "{% block hit_image %}{% endblock %}">
		</div>	
		<div class = "hit-content">
			<h2>{% block hit_header %} {% endblock %}</h2>
			{% block hit_details %}{% endblock %}
		</div>
	</div>
</script>

<script>
	//indexName will need to be abstracted to the desired model in Jewelry once this template is generalized
	//initializes search engine in JavaScript
	//facetnames are defined in apps.py,ALWAYS CHECK THERE IF ALGOLIA NOT WORKING
	const search = instantsearch({
		appId: 'SCHJVEFMZ6',
		apiKey: '5eb2a2d465e0a2d9be23ead26762c22d',
		indexName: '{{model_name}}', 
		urlSync: true
	});

	function newRefinementList(field_name,verbose_name){ //assigns field_name to container and header, verobse_name to header, corresponds to category-type search
		search.addWidget(
			instantsearch.widgets.refinementList({
				container: '#' + field_name,
				operator:'or',
				attributeName: field_name,	
				templates:{
					header:verbose_name,	
				}
			})
		);	
	}

	function newPriceList(field_name,verbose_name){//generlaized function for the price module, takes same parmamters as others
		search.addWidget(
			instantsearch.widgets.priceRanges({
				container:'#'+field_name,
				attributeName:field_name,
				labels:{
					currency:'$',
					seperator:'to',
					button:'Go',	
				},
				templates:{
					header:verbose_name	
				}
			})
		);	
	}

	function newRangeInput(field_name,verbose_name){//generlaizd ffunction for INTEGER type fields
		search.addWidget(
			instantsearch.widgets.rangeInput({
				container:'#'+field_name,
				attributeName:field_name,
				templates:{
					header:verbose_name,	
				},
				labels:{
					separator:'to',
					button:'Go',	
				}
			})
		);	
	}

	//process and generates the proper parameters depending on field
	//TODO: find better performance alternative
	{% for field_name, values in attributes.items %}
		switch ('{{ values.1 }}'){
			case 'CharField':
				newRefinementList('{{field_name}}','{{values.0}}');
				break;
			case 'IntegerField':
				newRangeInput('{{field_name}}','{{values.0}}');
				break;
			case 'DecimalField':
				newPriceList('{{field_name}}','{{values.0}}');
				break;
		}
	{% endfor %}	

	//initializes search box itself
	search.addWidget(
		instantsearch.widgets.searchBox({
			container:'#search-box',
			placeholder:'Search for Results'	
		})
	);

	//sets up widget to display search results
	//hackish solution to images: use {% get_media_prefix %} for MEDIA_ROOT and call {{image}}
	//TODO: generalize this
	//PLAN: make jewelry system an inhertiable template
	search.addWidget(
		instantsearch.widgets.hits({
			container:'#hits',
			templates:{
				empty:'Mo Results',
				//PROBLEM: size and price are not searchable
				item:document.getElementById('hit-template').innerHTML
			}	
		})
	);

	//self-explanatory
	search.start();
</script>
