{% load static %}
{% load bootstrap4 %}
<!DOCTYPE hrml>
<html>

	<head>

		<!-- essentials -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<title>{% block titlehead %}New Home{% endblock %} | Newtown Trade</title>		
		<link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon" />

		{% block csshead %}{% endblock %}

		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

		<!-- fontawesome CDN -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

		<!--base css file -->
		<link rel = "stylesheet" href = "{% static 'css/base.css' %}" >

	</head>

	<body>
	
		<!-- header -->

		<!-- make navabar collapsable later for mobile support -->
		<nav class = "navbar navbar-light navbar-expand-md menu-colorin" id = "nav">

			<!--TODO: add logo in navbar-brand-->
			<a class = "navbar-brand" href = "/"><img src = "{% static 'img/logo.svg' %}" class = "img-fluid" width="100" height="100"></a>
			<ul class ="navbar-nav">
				<li class = "nav-item"> 
					<a class = "nav-link" href = "{% url 'about' %}">About Us</a>
				</li>
				{# displays each jewlery type's verbose_name (as decided in Meta) along with valid styles #}
				{% for jewelry_meta_name,style_items in jewelry_classes.items %}
				<li class = "nav-item dropdown">
					<a class = "nav-link dropdown-toggle" href = "#" id = "navbardrop" data-toggle="dropdown">{{jewelry_meta_name}}</a>
					<div class = "dropdown-menu">
						{# ieterates through jewelry type's styles and constructs urls for each #}
						{% for style in style_items.0 %}
							<a class="dropdown-item" href="{% url 'jewelry:style' jewelry_type=style_items.1 jewelry_style_user=style %}">{{style}}</a>
						{% endfor %}
						<a class = "dropdown-item" href = "{% url 'jewelry:search' jewelry_type=style_items.1 %}">{{jewelry_meta_name}} Search</a>
					</div>
				</li>
				{% endfor %}
				<li class = "nav-item">
					<a class = "nav-link" href = "{% url 'jewelry:display' %}">Displays</a>
				</li>
				<li class = "nav-item">
					<a class = "nav-link" href = "{% url 'contact:index' %}">Contact Us</a>
				</li>
			</ul>	
			{% comment %}
			<form class = "form-inline my-2 my-lg-0" action = "#">
				<input class = "form-control mr-sm-2" type = "text" placeholder = "Search for Items">
				<button class = "btn btn-info my-sm-0" type = "submit">Submit</button>
			</form>
			{% endcomment %}
		</nav>

		<div id = "body-midsection">
		{% block body_nocontainer %}
		<div class = "jumbotron jumbotron-fluid d-flex align-items-center" id = "hero-banner">
			<div class = "container-fluid text-center">
				<h1>Attractive Jewelry at an Affordable Cost</h1>
				<img src = "{% static 'img/logo.svg' %}" class = "img-fluid mt-3">
			</div>
		</div>

		<div class = "container">
			<div class = "row">
				<!-- TODO: make this text vertically aligned-->
				<div class = "col-md-8 text-right my-auto">
					<h1 class = "align-middle">Newtown Trade is a small buisness that seeks to <em>facilitate selling beauty to customers</em>.</h1>
				</div>
				<div class = "col-md-4">
					<img src = "{% static 'img/jewelry_sample.jpg' %}" class = "img-fluid" alt = "Jewelry">
				</div>
			</div>

			<!-- displays inventory -->
			<!--POSSIBLE NEEDED PROVISIONS LATER: carousel for prominent pictures-->
			<h2 style = "padding:1rem">Check out the newest things we've added to our inventory!</h2>
			<div class = "row" id = "new-stuff">
				<!--add CSS after SASS is implemented fully-->
				<!-- decide on a systematic color theme later -->
				<div class = "col-md-6">
					<h2 class = "text-center header-colorin">Earrings, Nose Hooks, Bracelets</h1>
					<div class = "list-group text-right">
						{% for item in metal_latest %}
							<div class = "list-group-item">{{ item }}</div>
						{% endfor %}
					</div>
					<h3 class = "text-center" style = "padding:1rem"><a href = "{% url 'jewelry:search' jewelry_type='Metal' %}" class = "links">See More</a></h3>
				</div>
				<div class = "col-md-6">
					<h2 class = "text-center header-colorin">Contact Lenses</h2>
					<div class = "list-group">
						<!-- add a {for} loop thing here -->
						{% for item in contactLense_latest %}
							<div class = "list-group-item">{{ item }}</div>
						{% endfor %}
					</div>
					<h3 class = "text-center" style = "padding:1rem"><a href = "{% url 'jewelry:search' jewelry_type='ContactLense'%}" class = "links">See More</a></h3>
				</div>
			</div>
			<!-- TODO: add photo gallery here or something -->
			<h1 class = "text-center" style = "padding:1rem">Visit our Full Inventory <a href = "{% url 'jewelry:index' %}" class = "links">Here!</a></h1>
		</div>
		{% endblock %}
		</div>


		<!-- FOOTER -->
		<!-- consider adding (another) full item search here -->
		<footer id = "footer-root">
		<div class = "jumbotron jumbotron-fluid menu-colorin" id = "footer">
			<div class = "container-fluid">
				<h1 class = "text-center">Reach out to us with any questions!</h1>
				<h3 class = "text-center">
					<a href = "mailto:newtown0312@yahoo.com" style = "padding:1rem"><i class="fas fa-envelope-square"></i> Email </a>
					<a href = "{% url 'contact:index' %}" style = "padding:1rem"><i class="fas fa-inbox"></i> Contact Us </a>
					<a href = "tel:+9175389504" style = "padding:1rem"><i class="fas fa-phone-square"></i> 917-538-9504 </a>
				</h3>
				<div class = "row">
				<div class = "col-md-6 text-right">
					<h2>Sign up to recieve updates!</h2>
					<form method = 'POST' class = "form-inline float-right" action = "{% url 'contact:email_signup' %}">{% csrf_token %}
						{% bootstrap_form email_form %}
						{% buttons %}
							<button class = "btn btn-info" type = "submit">Submit</button>
						{% endbuttons %}
					</form>

					<!-- TODO: insert form generation using Django later-->
					<!--TODO: improve this with best practices -->
				</div>
				<div class = "col-md-6 text-left">
					<h2>Important Links</h2>	
					<ul>
						<li><a href = "{% url 'privacy_policy'%}">Privacy Policy</a></li>
						<li><a href = "">Sitemap</a></li>
						<li><a href = "{% url 'terms_of_use' %}">Terms of Use</a></li>
					</ul>
				</div>
			</div>
			<!-- TODO: make 2018 generated -->
			<p class = "text-center">© 2018 Newtown Trade. All Rights Reserved.</p>

			</div>
		</div>
		</footer>
	</body>

	<!--Javscript-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
	<script>
		$('#footer-root').css('margin-top',$(document).height()-($('#nav').height()+$('#body-midsection').height()+$('#footer-root').height()));
	</script>
	{% block javascript %}{% endblock %}
</html>
